.auxilio {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1200px;
  box-shadow: 0px 0px 15px #0005;
  background-color: #fff;
}
.projects {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 30px;
}

.image {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 0 50px;
  justify-content: space-around;
}

.flappy {
  box-shadow: 0px 0px 15px #0005;
  height: 200px;
  width: 200px;
}
.flappy:hover {
  opacity: 0.5;
}

.crud {
  box-shadow: 0px 0px 15px #0005;
  height: 200px;
  width: 350px;
}
.crud:hover {
  opacity: 0.5;
}

.calculadora {
  box-shadow: 0px 0px 15px #0005;
  height: 200px;
  width: 200px;
}
.calculadora:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .auxilio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  .projects {
    display: flex;
    flex: 0;
    padding: 60px 10px;
    font-size: 14px;
  }

  .image {
    display: flex;
    flex: 0;
    padding: 80px 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  .flappy {
    height: 60px;
    width: 60px;
  }

  .crud {
    height: 60px;
    width: 100px;
  }

  .calculadora {
    height: 60px;
    width: 60px;
  }

  .emProcesso {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  .auxilio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  .projects {
    display: flex;
    flex: 0;
    padding: 60px 10px;
    font-size: 14px;
  }

  .image {
    display: flex;
    flex: 0;
    padding: 80px 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  .flappy {
    height: 60px;
    width: 60px;
  }

  .crud {
    height: 60px;
    width: 100px;
  }

  .calculadora {
    height: 60px;
    width: 60px;
  }

  .emProcesso {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
