footer.footer {
  display: flex;
  font-size: 10px;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
  color: black;
  padding: 0px 50px;
}

@media (max-width: 768px) {
  footer.footer {
    height: 10px;
    font-size: 5px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    color: black;
  }
}

@media (max-width: 576px) {
  footer.footer {
    height: 13px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    color: black;
  }
}
