.header {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: azure;
}

.joao {
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.dev {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 15px #0004;
  }

  .joao {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    height: 15px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
  }
  .dev {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7px;
  }
}

@media (max-width: 576px) {
  .header {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 15px #0004;
  }

  .joao {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    height: 15px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
  }
  .dev {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7px;
  }
}
