header.header {
  display: flex;
  flex-direction: column;
  flex: 0;
  text-align: center;
  background-color: black;
  color: azure;
}

header.header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

header.header p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
