.menu a:hover {
  background-color: #838383;
  color: black;
}
.menu {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.menu a {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: azure;
}

.menu-area {
  display: flex;
  flex: 1;
}
