.Perfil img {
  padding: 5px;
  width: 80px;
  height: 70px;
  border-radius: 50%;
}
.Perfil {
  display: flex;
  width: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
}

@media (max-width: 768px) {
  .Perfil img {
    padding: 5px;
    width: 50px;
    height: 40px;
    border-radius: 50%;
  }
  .Perfil {
    display: flex;
    width: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
}
