.bemVindo {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 100px;
  margin-top: 150px;
}
.texto {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  margin-top: 50px;
  display: flex;
  font-size: 25px;
}
