.ajuste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.bemVindo {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 120px;
}
.texto {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  display: flex;
  font-size: 25px;
}
