.ajuste {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 70%;
  box-shadow: 0px 0px 15px #0005;
  background-color: #2b2d31;
}

.bemVindo {
  color: #fff;
  display: flex;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 100px;
}
.texto {
  color: #fff;
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  padding: 0 30px;
}
@media (max-width: 576px) {
  .ajuste {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 85%;
    box-shadow: 0px 0px 15px #0005;
    background-color: #2b2d31;
  }

  .bemVindo {
    color: #fff;
    display: flex;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 40px;
  }
  .texto {
    color: #fff;
    display: flex;
    flex: 1;
    text-align: justify;
    justify-content: center;
    align-content: center;
    font-size: 13px;
    padding: 0 30px;
  }
}
