.contato {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 70%;
  box-shadow: 0px 0px 15px #0005;
  background-color: #2b2d31;
}
.contact {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0px 30px;
  font-size: 30px;
}
.images {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.linkedin {
  border-radius: 15px;
  height: 150px;
}
.insta {
  border-radius: 15px;
  height: 150px;
}
.github {
  height: 150px;
}
.ajustaImagem {
  height: 150px;
}

@media (max-width: 1366px) {
  .contato {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    box-shadow: 0px 0px 15px #0005;
    background-color: #2b2d31;
  }
  .contact {
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0px 30px;
    font-size: 22px;
  }
  .images {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .linkedin {
    border-radius: 15px;
    height: 100px;
  }
  .insta {
    border-radius: 15px;
    height: 100px;
  }
  .github {
    height: 100px;
  }
  .ajustaImagem {
    height: 100px;
  }
}

@media (max-width: 576px) {
  .contato {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 85%;
    box-shadow: 0px 0px 15px #0005;
    background-color: #2b2d31;
  }
  .contact {
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0px 20px;
    font-size: 15px;
  }
  .images {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .linkedin {
    border-radius: 15px;
    height: 65px;
  }
  .insta {
    border-radius: 15px;
    height: 65px;
  }
  .github {
    height: 65px;
  }
  .ajustaImagem {
    height: 65px;
  }
}
