.contato {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}
.contact {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 20px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.linkedin {
  height: 100px;
}
.insta {
  height: 100px;
}
.github {
  height: 100px;
}

@media (max-width: 576px) {
  .contato {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 0;
    padding: 150px 10px;
  }
  .contact {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 13px;
  }
  .images {
    display: flex;
    padding: 60px 10px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .linkedin {
    height: 60px;
  }
  .insta {
    height: 60px;
  }
  .github {
    height: 60px;
  }
}
