.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  padding: 50px 250px;
  height: 400px;
  font-size: 30px;
}
.images {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.linkedin {
  height: 100px;
}
.insta {
  height: 100px;
}
.email {
  height: 100px;
}
.github {
  height: 100px;
}
