* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f5f5;
}

.cantoEsquerdo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 90px;
  height: 100%;
}

.alinhamento {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cantoEsquerdo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 60px;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
  }
  .cantoEsquerdo {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
  }
  .alinhamento {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
  }
}
