* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f5f5;
}

.cantoEsquerdo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 120px;
  height: 100%;
}

.alinhamento {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
